
*{
    margin: 0;
    padding: 0%;
}
 
 h1{
    background-color: green;
    color: white;
    padding: 15px;
    
 }
 .detail{
    display: flex;
 }
 .detail img{
    margin-left: 150px;
    margin-top: 15px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
 }
h3{
    margin-top: 8px;
    margin-left: 180px;
}
#cv{
    margin-top: 25px ;
    padding-left: 25px;
 }

.main{

    display: flex;
    gap: 250px;
    background-color:rgba(125, 128, 128, 0.2);

    /* background-color: gray; */

}
#row1{
    
    padding-left: 35px;
}
#row2{
    border-left: 2px solid gray;
    padding-left: 20px;
}